:root {
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-medium-blue: hsl(213, 19%, 18%);
  --neutral-dark-blue: hsl(215, 22%, 15%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  --primary-orange: hsl(25, 97%, 53%);
  --font-family-overpass: "Overpass", sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  background-color: var(--neutral-very-dark-blue);
  font-family: var(--font-family-overpass);
}

.card {
  background-color: var(--neutral-dark-blue);
  border-radius: 15px;
  width: 355px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card__content {
  margin: 32px;
}

.icon__star {
  color: var(--primary-orange);
  background-color: var(--neutral-medium-blue);
  border-radius: 50%;
  padding: 15px 16px 15px 16px;
}

.card__header {
  color: var(--neutral-white);
  font-weight: var(--font-weight-700);
  margin: 20px 0 0 0;
}

.card__paragraph {
  color: var(--neutral-light-grey);
  font-size: 0.938rem; /* 15px */
  font-weight: var(--font-weight-400);
  line-height: 1.5;
  margin: 20px 0 0 0;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 0.938rem; /* 15px */
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button__numbers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
}

.button__numbers {
  color: var(--neutral-light-grey);
  background-color: var(--neutral-medium-blue);
  font-weight: var(--font-weight-400);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 24px 0 0 0;
}

.button__numbers:hover {
  color: var(--neutral-white);
  background-color: var(--primary-orange);
}

.button__numbers:focus {
  color: var(--neutral-white);
  background-color: var(--neutral-light-grey);
}

.button__submit__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.button__submit {
  color: var(--neutral-white);
  background-color: var(--primary-orange);
  font-weight: var(--font-weight-700);
  text-transform: uppercase;
  border-radius: 24px;
  padding: 15px 0 15px 0;
  margin: 24px 0 15px 0;
}

.button__submit:hover {
  color: var(--primary-orange);
  background-color: var(--neutral-white);
}

.center {
  text-align: center;
}

.image__thank-you {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button__selected__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__selected {
  color: var(--primary-orange);
  background-color: var(--neutral-medium-blue);
  font-weight: var(--font-weight-400);
  cursor: default;
  width: auto;
  border-radius: 24px;
  padding: 8px 10px 8px 10px;
  margin: 20px 0 0 0;
}
